@import 'styles/_variables.less';
@import 'styles/_mixins.less';
@import 'styles/_components.less';

page {
  background-image: url(https://qiniustatic.womenshike.top/background_top.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.event-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
  > .event-page__banner {
    width: 100%;
    height: auto;
    opacity: 0.1;
  }
}

.event-info {
  .padding-sides();

  .event-info__swiper {
    display: flex;
    .px2rpx(height, 338);
    position: relative;

    // .px2rpx(width, 370);
    .px2rpx(margin-right, -20);

    .swiper {
      .px2rpx(height, 338);
      width: 100%;
    }

    .swiper-item {
      .size(308, 326);
      display: flex;
      // justify-content: center;
      // align-items: center;
      overflow: hidden;
      .px2rpx(border-radius, 10);
      .px2rpx(margin-top, 12);
      position: relative;

      &.swiper-item--active {
        .size(308, 338);
        transition:
          transform 0.5s ease,
          opacity 0.5s ease,
          height 0.5s ease,
          margin-top 0.5s ease;
        .px2rpx(margin-top, 0);
      }
      > image {
        .size(100%, 100%);
      }

      .swiper-item__info {
        position: absolute;
        .px2rpx(left, 12);
        .px2rpx(bottom, 12);
        color: #fff;
        .font-group(19, 900);
      }
    }

    .event-info__tag {
      position: absolute;
      background-image: url('https://qiniustatic.womenshike.top/event-card-tag-joined.png');
      .size(61, 61);
      background-repeat: no-repeat;
      background-size: contain;

      display: flex;
      align-items: center;
      justify-content: center;

      .px2rpx(top, -8);
      .px2rpx(left, 5);

      .event-info__tag-text {
        transform: rotate(-8.02deg);
        color: #fff;
        .font-group(14, 600);
        .size(28, 32);
        .px2rpx(line-height, 16);
      }
    }
  }

  .event-info__participants {
    .px2rpx(margin-top, 11);
    display: flex;
    flex-direction: row;

    .event-info__avatar-list {
      display: flex;
      .px2rpx(gap, 10);
      > image {
        .size(42, 42);
        .px2rpx(border-radius, 42);
      }
    }

    .event-info__avatar-more {
      .size(32, 42);
      .px2rpx(border-radius, 8);
      background: rgba(216, 216, 216, 0.5);

      .font-group(12, 400);
      color: #8c8c8c;

      display: flex;
      margin-left: auto;
      align-items: center;
      text-align: center;
    }
  }

  .event-info__conditions {
    .px2rpx(height, 18);
    .px2rpx(margin-top, 15);
    color: #141414;
    .font-group(13, 400);
    > .event-info__number {
      color: #72a0ff;
      &.event-info__number--warn {
        font-weight: 600;
      }
    }
  }

  .event-info__body {
    background-color: #f4f6f6;
    .px2rpx(border-radius, 12);
    .margin(11.19, -20, 0, -20);
    .px2rpx(padding-top, 18);
    .padding-sides();
    display: flex;
    flex-direction: column;
    .px2rpx(gap, 10);
     .px2rpx(padding-bottom, 100);

    // section and content

    .event-info__section {
      .padding(14, 10, 0, 10);
      .px2rpx(border-radius, 8);
      background: #fff;
    }

    .event-info__content {
      .padding(14, 10, 17, 10);
      .px2rpx(border-radius, 8);
      background: #fff;
    }

    .event-info__briefly {
      .event-info__title {
        .px2rpx(height, 25);
        .px2rpx(line-height, 25);
        color: #141414;
        .font-group(18, 600);
      }
      .event-info__briefly-row {
        .px2rpx(height, 50);
        .border-bottom(1, solid, #f2f2f2);

        background-repeat: no-repeat;
        background-size: contain;

        color: #141414;
        .font-group(13, 600);

        position: relative;

        .px2rpx(padding-left, 26);
        display: flex;

        align-items: center;

        &:last-child {
          border-bottom: none;
        }

        .event-info__icon {
          position: absolute;
          .px2rpx(height, 16);
          .px2rpx(left, 0);

          &.event-info__icon--address {
            .px2rpx(left, 1);
          }
        }
      }
    }
    .event-info__content {
      .event-info__title {
        display: flex;
        flex-direction: row;
        .px2rpx(height, 21);
        .px2rpx(gap, 8);
        color: #020202;
        .font-group(15, 600);
        align-items: center;

        .event-info__title-bar {
          .size(4, 16);
          .px2rpx(border-radius, 100);
          background: #72a0ff;
        }
      }

      .event-info__description {
        display: flex;
        .px2rpx(margin-top, 12);
        color: #696969;
        .font-group(14, 400);
        .px2rpx(line-height, 22);
      }

      .event-info__images-group {
        display: flex;
        flex-direction: column;
        .px2rpx(margin-top, 14);
        .px2rpx(gap, 10);
        .event-info__images-item {
          .size(330, 141);
          .px2rpx(border-radius, 8);
        }
      }
    }
  }
}

.event-info__footer {
  .px2rpx(height, 78);
  .px2rpx(margin-left, -20);
  .px2rpx(margin-right, -20);
  background: #fff;
  .px2rpx(padding-top, 8);
    .px2rpx(padding-left, 20);
  .px2rpx(padding-right, 20);
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;

  .event-info__action {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    flex: 1;
    .event-info__action-item {
      .size(48, 38);
      display: flex;
      flex-direction: column;
      align-items: center;

      color: #979797;

      .font-group(12, 400);
      .px2rpx(gap, 5);
    }
    .event-info__action-icon {
      .px2rpx(height,17);
    }
    .event-info__action-share {
      padding: 0;
      margin: 0;
      border: none;
      border-radius: 0;
      background: transparent;
      box-shadow: none;
      outline: none;
      -webkit-appearance: none;
      appearance: none;
      text-align: inherit;
      color: inherit;
      font: inherit;
      line-height: inherit;
      -webkit-tap-highlight-color: transparent;
      tap-highlight-color: transparent;
      .font-group(12, 400);
      color: #979797;
        /* 移除边框 */
      border: none;
      /* 移除点击时的默认边框效果 */
      outline: none;
      /* 清除默认背景色 */
      background-color: transparent;
      /* 清除按钮内边距（可选，根据需求调整） */
      padding: 0;
      /* 清除默认的圆角（可选） */
      border-radius: 0;

    }
    .event-info__action-share::after{
      border: none;
      /* 移除点击时的默认边框效果 */
      outline: none;
    }
    .event-info__action-my {
    }
  }
  .event-info__action-join {
    margin-right: 20px;
    .size(232, 44);
    .specially-button-style();
    .px2rpx(border-radius, 12);
    color: #fff;
    .font-group(15, 600);

    display: flex;
    align-items: center;
    justify-content: center;
    
    &.disabled {
      background: #CCCCCC;
      background-image: none;
      color: #fff;
      cursor: not-allowed;
    }
  }
}

.event-info__body.fixed {
  .px2rpx(padding-bottom, 100);
}

.event-info__footer.fixed {
  display: flex;
  .px2rpx(bottom, 0);
  .px2rpx(left, 20);
  .px2rpx(right, 20);
  position: fixed;
  

}
