@import 'styles/_variables.less';
@import 'styles/_mixins.less';

page {
  background-image: url(https://qiniustatic.womenshike.top/background_top.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.settings {
  display: flex;
  .padding-sides();
  .px2rpx(margin-top, 5);

  .settings-container {
    display: flex;
    .card-container();
    flex-direction: column;
    .px2rpx(padding-left, 20);
    .px2rpx(padding-right, 20);

    &.multi {
      .settings-container-item {
        .px2rpx(height, 50);
      }
    }

    &.function {
      .px2rpx(padding-top, 4);
      .px2rpx(padding-bottom, 4);
    }

    .settings-container-item {
      display: flex;
      align-items: center;
      flex-direction: row;

      .border-bottom(1, solid, #F3F3F3);
      position: relative;

      &:last-child {
        border-bottom: none;
      }

      &.between {
        justify-content: space-between;
      }

      .icon {
        .px2rpx(width, 33);
        display: flex;

        image.event {
          .px2rpx(width, 20.81);
          .px2rpx(height, 17);
        }
        image.identify {
          .px2rpx(width, 20);
          .px2rpx(height, 18);
        }
        image.csr {
          .px2rpx(width, 18.13);
          .px2rpx(height, 18);
        }
        image.settings {
          .px2rpx(width, 16.6);
          .px2rpx(height, 18);
        }
      }
      .content {
        color: var(--4, #212121);
        .font-group(14, 500);

        &.highlight {
          color: #ff8484;
        }
      }
      .care {
        color: #9ea4a9;
        .font-group(14, 400);
        display: flex;
        margin-left: auto;
        .px2rpx(margin-right, 20);
      }

      .arrow_right {
        .px2rpx(width, 5);
        .px2rpx(height, 10);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      .phonenumber_right {
        .font-group(14, 400);
        color: #9ea4a9;
      }
      
      .phone-button {
        padding: 0;
        background: none;
        flex:1;
        border: none;
        font-size: inherit;
        line-height: inherit;
        text-align: right;
        color: #9ea4a9;
        .font-group(14, 400);
        
        &::after {
          border: none;
        }
      }
    }
  }
}

.footer-button {
  display: flex;
  position: fixed;
  .px2rpx(height, 61);
  .px2rpx(line-height, 61);
  .card-container();
  .px2rpx(bottom, 50);
  .px2rpx(left, 20);
  .px2rpx(right, 20);
  .font-group(14, 500);
  color: #ff8383;
  justify-content: center;
}
