@import 'styles/_variables.less';
@import 'styles/_mixins.less';

page {
  background-image: url('https://qiniustatic.womenshike.top/inner_background_top.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.profile-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .padding-sides();
  .px2rpx(margin-top, 44);
  .px2rpx(gap, 10);

  .profile-container {
    display: flex;
    .card-container();
    flex-direction: column;
    .px2rpx(padding-left, 20);
    .px2rpx(padding-right, 20);

    &.events {
      .px2rpx(padding-top, 4);
      .px2rpx(padding-bottom, 4);
    }
    &.function {
      .px2rpx(padding-top, 4);
      .px2rpx(padding-bottom, 4);
    }

    .profile-container-item {
      display: flex;
      align-items: center;
      flex-direction: row;

      .border-bottom(1, solid, #F3F3F3);
      position: relative;

      &:last-child {
        border-bottom: none;
      }

      .icon {
        .px2rpx(width, 33);
        display: flex;

        image.event {
          .px2rpx(width, 20.81);
          .px2rpx(height, 17);
        }
        image.identify {
          .px2rpx(width, 20);
          .px2rpx(height, 18);
        }
        image.csr {
          .px2rpx(width, 18.13);
          .px2rpx(height, 18);
        }
        image.settings {
          .px2rpx(width, 16.6);
          .px2rpx(height, 18);
        }
      }
      .content {
        color: var(--4, #212121);
        .font-group(14, 500);
      }

      .arrow_right {
        .px2rpx(width, 5);
        .px2rpx(height, 10);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      .damger {
        background-color: @v-color-danger-background;
        color: @v-color-danger-font;

        .px2rpx(width, 76);
        .px2rpx(height, 25);
        .font-group(10, 500);
        display: flex;
        align-items: center;
        justify-content: center;

        .px2rpx(gap, 5);
        .px2rpx(border-radius, 4);

        margin-left: auto;
        .px2rpx(margin-right, 20);

        > image {
          .px2rpx(width, 13.4);
          .px2rpx(height, 12);
        }
      }
    }
  }

  .profile-container {
    &.single {
      .profile-container-item {
        .px2rpx(height, 50);
      }
    }

    &.multi {
      .profile-container-item {
        .px2rpx(height, 50);
      }
    }
  }

  .info {
    .px2rpx(height, 159);
    position: relative;

    .info-avator {
      .px2rpx(height, 70);
      .px2rpx(width, 70);
      .px2rpx(border-radius, 70);

      position: absolute;

      .border-group(3, solid, var(--3, #72a0ff));

      .px2rpx(left, 20);
      .px2rpx(top, -29);
      background-color: #eff0f4;

      background-image: url('https://qiniustatic.womenshike.top/icon_avator.png');
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: center;

      > image {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }

      .info-edit-icon {
        .px2rpx(height, 22);
        .px2rpx(width, 22);

        background: linear-gradient(275deg, #72a0ff 1.61%, #bcd1fd 97.56%);

        border-radius: 100%;

        .border-group(2, solid, #FFF);
        position: absolute;

        .px2rpx(left, 52);
        .px2rpx(top, 48);

        display: flex;

        align-items: center;
        justify-content: center;

        > image {
          .px2rpx(height, 12);
          .px2rpx(width, 12);
        }
      }
    }

    .info-more {
      .px2rpx(height, 23);
      .px2rpx(gap, 8);

      .px2rpx(margin-top, 52);
      // .px2rpx(margin-left, 23);

      display: flex;
      flex-direction: row;
      align-items: center;

      .info-nickname {
        color: var(--4, #212121);
        .font-group(18, 600);
      }
      .info-edit {
        > image {
          .px2rpx(width, 16);
          .px2rpx(height, 16);
        }
      }
      .info-tags {
        > .approved {
          border-radius: 20px;
          background: var(--2, linear-gradient(275deg, #fce38a 1.61%, #fff3c6 97.56%));
          justify-content: center;
          .px2rpx(gap, 3);
          .px2rpx(padding-left, 5);
          .px2rpx(padding-right, 5);

          display: flex;
          .px2rpx(height, 20);
          display: flex;
          align-items: center;

          > text {
            color: var(--5, #9196a3);
            .font-group(10, 500);
          }

          > image {
            .px2rpx(width, 10.5);
            .px2rpx(height, 10.7);
          }
        }
      }
    }

    .info-point {
      display: flex;
      .px2rpx(margin-top, 23);
      .px2rpx(gap,45);
      .info-point-item {
        display: flex;
        .px2rpx(height, 41);
        flex-direction: column;
        align-items: center;
        .px2rpx(gap, 2);

        .point {
          color: var(--4, #212121);
          .font-group(16, 600);
        }
        .text {
          color: var(--6, #ccccd4);
          .font-group(12, 400);
        }
      }
    }

    .notes-login {
      position: absolute;
      background-color: #72a0ff;
      .px2rpx(width, 82);
      .px2rpx(height, 25);
      right: 0;
      .px2rpx(top, 61);
      .px2rpx(border-top-left-radius, 100);
      .px2rpx(border-bottom-left-radius, 100);

      color: #fff;

      .font-group(12, 400);
      display: flex;
      align-items: center;
      justify-content: center;

      > image {
        .px2rpx(width, 5.71);
        .px2rpx(height, 10);
        .px2rpx(margin-left, 3);
      }
    }
  }
}
