@import 'styles/_variables.less';
@import 'styles/_mixins.less';

/**app.wxss**/
/* 去掉微信button自带的所有样式 */
button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  text-align: inherit;
  line-height: inherit;
  border-radius: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  overflow: visible;
}

button::after {
  border: none;
  border-radius: 0;
  background: none;
}

/* 去掉按钮点击时的效果 */
button:active {
  opacity: 1;
  background: none;
}

button:hover {
  opacity: 1;
  background: none;
}

button:focus {
  outline: none;
}

/* 去掉点击高亮效果 */
view, text, image, button, input {
  -webkit-tap-highlight-color: transparent;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .padding(200, 0, 200, 0);

  box-sizing: border-box;
}

page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.slot-title {
  color: var(--4, #212121);
  .font-group(18, 500);
}
