@import 'styles/_variables.less';
@import 'styles/_mixins.less';

// active-popup

.activity-popup__title-slot {
  .px2rpx(width, 220);
  color: #000;
  .font-group(22, 600);
  .px2rpx(margin-top, 25.58);
  text-align: center;
}

.activity-popup__highlight {
  // .padding-sides(2);
}

.activity-popup__subtitle-slot {
  .px2rpx(width, 200);
  color: var(--5, #9196a3);
  .font-group(14, 400);
  .px2rpx(margin-top, 10);
  text-align: center;
}

.activity-popup__buttom-solt {
  width: 384.61538462rpx;
  color: var(--5, #9196a3);
  font-size: 26.92307692rpx;
  font-weight: 400;
  margin-top: 19.23076923rpx;
  text-align: center;
}
