@space-side: 16; // 两侧默认内边距
@safe-bottom: 20; // 安全底部默认间距（从35降低到20）
@footer-height: 85;

@safe-bottom-with-footer: @footer-height;

@design-width: 390; // 设计稿基准宽度
@target-width: 750; // 微信小程序 rpx 参照宽度

// 资料状态
@v-color-priamy-background: #e6eeff;
@v-color-priamy-font: #72a0ff;

@v-color-danger-background: #fbf2f0;
@v-color-danger-font: #e67374;

// 主页状态
@color-tag-biometric-background: var(--2, linear-gradient(275deg, #fce38a 1.61%, #fff3c6 97.56%));
@color-tag-student-background: linear-gradient(275deg, #c5d8ff 1.61%, #d5e3ff 97.56%);

// 小气泡
@bubble-message: #f38181;

// 活动状态
@e-status-background: #5cc696;

// 消息数字
@m-number-background: #ff5142;

// 消息盒子的阴影
@m-shadow-card: 0rpx 7.69rpx 48.07rpx rgba(145, 150, 163, 0.12);
