@import 'styles/_variables.less';
@import 'styles/_mixins.less';

page {
  height: 100vh;
  display: flex;
  flex-direction: column;

  background-image: url('https://qiniustatic.womenshike.top/background_top.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  background-color: #fff;

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.processing-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .padding-sides();
  .px2rpx(margin-bottom, 27);
}

.processing {
  .px2rpx(width, 170);
  .px2rpx(height, 5);
  .px2rpx(border-radius, 100);
  background-color: #ccccd4;

  &.reading {
    background: linear-gradient(275deg, #fa87ac 1.61%, #fdbed2 97.56%);
  }
}

.register-form {
  .padding-sides();

  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title-head {
      color: var(--4, #212121);
      .font-group(18, 600);
    }

    .title-remark {
      color: var(--5, #9196a3);
      text-align: right;
      .font-group(12, 400);
      margin-left: auto;
    }
  }

  .picture-wall {
    display: flex;
    flex-direction: row;
    .px2rpx(gap, 10);
    .px2rpx(margin-top, 20);

    .picture-left {
      flex: 2;
      display: flex;
      flex-direction: column;
      .px2rpx(gap, 10);

      .picture-bottom {
        flex: 1;
        display: flex;
        flex-direction: row;
        .px2rpx(gap, 10);
      }

      > .picture-main {
        .px2rpx(width, 226);
        .px2rpx(height, 226);

        .border-group(2, solid, var(--6, #ccccd4));

        .px2rpx(border-radius, 12);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .px2rpx(gap, 10);

        position: relative;

        .placeholder-pic {
          .px2rpx(width, 32.4);
          .px2rpx(height, 30);
        
        }

        text {
          color: #a7a7a7;
          .font-group(14, 400);
        }
       
      }
    }

    .picture-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      .px2rpx(gap, 10);
    }

    .picture-public {
      .px2rpx(width, 106);
      .px2rpx(height, 106);
      .px2rpx(border-radius, 12);
      .border-group(2, solid, var(--6, #ccccd4));
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .px2rpx(gap, 10);
      position: relative;
      overflow: hidden;

      image {
        .px2rpx(width, 32.4);
        .px2rpx(height, 30);
      }

      text {
        color: #a7a7a7;
        .font-group(13, 400);
      }
    }
     .uploaded-image-wrapper {
      width: 100%;
      height: 100%;
       .close-icon {
        position: absolute;
        top: 10rpx;
        right: 10rpx;
        width: 40rpx;
        height: 40rpx;
        background-color: rgba(128, 128, 128, 0.7);
        color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28rpx;
        line-height: 28rpx;
        padding-bottom: 2rpx;
        z-index: 10;
      }
     }
    .uploaded-image-wrapper > .uploaded-image {
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      border-radius: 12rpx;
    }
  .picture-placeholder {
    transform: translateX(calc(136rpx * @target-width / @design-width));
    
    .uploaded-image-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      
      .uploaded-image {
        width: 100%;
        height: 100%;
        border-radius: 12rpx;
        object-fit: cover;
      }
      
      .close-icon {
        position: absolute;
        top: 10rpx;
        right: 10rpx;
        width: 40rpx;
        height: 40rpx;
        background-color: rgba(128, 128, 128, 0.7);
        color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28rpx;
        z-index: 10;
      }
    }
  }
  }
}

.form-reject {
  .padding-sides();
  .px2rpx(padding-top, 20);

  .title-container {
    color: var(--4, #212121);
    .font-group(18, 600);
  }

  .reject-items {
    display: flex;
    flex-direction: row;

    .px2rpx(gap, 9);
    .px2rpx(margin-top, 13);

    .item {
      .px2rpx(width, 80);
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;

      > image {
        .px2rpx(width, 80);
        .px2rpx(height, 80);
      }

      > text {
        color: #212121;
        .font-group(14, 400);
        .px2rpx(margin-top, 6);
      }

      > .error {
        position: absolute;
        background: url('https://qiniustatic.womenshike.top/icon_error.png');
        background-repeat: no-repeat;
        background-size: contain;
        .px2rpx(width, 20);
        .px2rpx(height, 20);
        .px2rpx(right, -3);
        .px2rpx(top, -3);
      }
    }
  }
}

.form-submit {
  .px2rpx(border-radius, 12);
  .specially-button-style();

  .font-group(18, 600);

  color: #fff;

  .margin-sides();

  .px2rpx(height, 58);
  text-align: center;
  .px2rpx(line-height, 58);

  .px2rpx(margin-bottom, @safe-bottom);

  .px2rpx(margin-top, 33);
}

.placeholder-main {
  .px2rpx(width, 88);
  .px2rpx(height, 88);
  display: flex;
  flex-direction: column;
  .px2rpx(gap, 11);
  align-items: center;
  justify-content: center;

  > image {
    .px2rpx(width, 32.432);
    .px2rpx(height, 30);
  }

  > text {
    color: #a7a7a7;
    .font-group(13, 400);
  }
}
